In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df = pd.read_excel('C:/Users/Dell/OneDrive/Desktop/ML/Customer Churn Pipeline/Data/Telco_customer_churn.xlsx')

In [12]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\onedrive\desktop\analytics\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dell\onedrive\desktop\analytics\.venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: C:\Users\Dell\OneDrive\Desktop\Analytics\.venv\Scripts\python.exe -m pip install --upgrade pip

In [15]:
df.shape

(7043, 33)

In [16]:
df.head().T

,0,1,2,3,4
CustomerID,3668-QPYBK,9237-HQITU,9305-CDSKC,7892-POOKP,0280-XJGEX
Count,1,1,1,1,1
Country,United States,United States,United States,United States,United States
State,California,California,California,California,California
City,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Los Angeles
Zip Code,90003,90005,90006,90010,90015
Lat Long,"33.964131, -118.272783","34.059281, -118.30742","34.048013, -118.293953","34.062125, -118.315709","34.039224, -118.266293"
Latitude,33.964131,34.059281,34.048013,34.062125,34.039224
Longitude,-118.272783,-118.30742,-118.293953,-118.315709,-118.266293
Gender,Male,Female,Female,Female,Male
Senior Citizen,No,No,No,No,No
Partner,No,No,No,Yes,No
Dependents,No,Yes,Yes,Yes,Yes
Tenure Months,2,2,8,28,49
Phone Service,Yes,Yes,Yes,Yes,Yes
Multiple Lines,No,No,Yes,Yes,Yes
Internet Service,DSL,Fiber optic,Fiber optic,Fiber optic,Fiber optic
Online Security,Yes,No,No,No,No
Online Backup,Yes,No,No,No,Yes
Device Protection,No,No,Yes,Yes,Yes
Tech Support,No,No,No,Yes,No
Streaming TV,No,No,Yes,Yes,Yes
Streaming Movies,No,No,Yes,Yes,Yes
Contract,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month
Paperless Billing,Yes,Yes,Yes,Yes,Yes
Payment Method,Mailed check,Electronic check,Electronic check,Electronic check,Bank transfer (automatic)
Monthly Charges,53.85,70.7,99.65,104.8,103.7
Total Charges,108.15,151.65,820.5,3046.05,5036.3
Churn Label,Yes,Yes,Yes,Yes,Yes
Churn Value,1,1,1,1,1
Churn Score,86,67,86,84,89
CLTV,3239,2701,5372,5003,5340
Churn Reason,Competitor made better offer,Moved,Moved,Moved,Competitor had better devices

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [19]:
df.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [20]:
df.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

In [21]:
df.duplicated().sum()

np.int64(0)

In [22]:
df=df.drop(columns="CustomerID")

In [23]:
df.Count.value_counts()

Count
1    7043
Name: count, dtype: int64

In [24]:
df=df.drop(columns="Count")

In [25]:
df=df.drop(columns="Churn Value")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            7043 non-null   object
 1   State              7043 non-null   object
 2   City               7043 non-null   object
 3   Zip Code           7043 non-null   int64
 4   Lat Long           7043 non-null   object
 5   Latitude           7043 non-null   float64
 6   Longitude          7043 non-null   float64
 7   Gender             7043 non-null   object
 8   Senior Citizen     7043 non-null   object
 9   Partner            7043 non-null   object
 10  Dependents         7043 non-null   object
 11  Tenure Months      7043 non-null   int64
 12  Phone Service      7043 non-null   object
 13  Multiple Lines     7043 non-null   object
 14  Internet Service   7043 non-null   object
 15  Online Security    7043 non-null   object
 16  Online Backup      7043 non-null   object
 17  Device Protection  7043 non-null   object
 18  Tech Support       7043 non-null   object
 19  Streaming TV       7043 non-null   object
 20  Streaming Movies   7043 non-null   object
 21  Contract           7043 non-null   object
 22  Paperless Billing  7043 non-null   object
 23  Payment Method     7043 non-null   object
 24  Monthly Charges    7043 non-null   float64
 25  Total Charges      7043 non-null   object
 26  Churn Label        7043 non-null   object
 27  Churn Score        7043 non-null   int64
 28  CLTV               7043 non-null   int64
 29  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(4), object(23)
memory usage: 1.6+ MB

## EDA